<!DOCTYPE html>
<html>
  <head>
    <title>Kombicode</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Preload for font -->
    <link
      rel="preload"
      href=<%= asset_path "Raleway-VariableFont_wght.woff2" %>
      as="font"
      type="font/woff2"
      crossOrigin="anonymous"
    />  

  </head>

  <body>
    <%= render "shared/header" %>
    <main class="h-full p-6">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
